.git
.gitignore
.env
.env.backup
.idea
.DS_Store
node_modules
vendor
composer.phar
composer.lock
backup/
docker-compose.yml
docker-compose.prebuilt.yml
DEPLOYMENT_GUIDE.md
readme.md
*.log
tests/
phpunit.xml
public/clients/*

